$white: #FFFFFF !important;
$black: #000000 !important;
$gray-1: #717171 !important;
$gray-2: #959595 !important;
$gray-3: #00000029 !important;
$gray-4: #F7F9F9 !important;
$gray-5: #DDE5ED !important;
$blue-1: #004E77 !important;
$blue-2: #005077 !important;
$blue-3: #143D8F !important;
$blue-4: #DDE5ED !important;
$blue-5: #EAEFF4 !important;
$blue-6: #F7F9F9 !important;
$green-1: #009743 !important;
$green-2: #C2CC24 !important;
$yellow-1: #FFCB08 !important;
$red-1: #C60C30 !important;
$font-sm: 0.813rem !important;