.diver {
    &-row &-col + &-col {
        border-left: 1px solid $blue-4;
    }

    &-section {
        &::before {
            content : "";
            position: absolute;
            left    : 0;
            bottom  : 0;
            height  : 1px;
            width   : 50%;
            border-bottom:1px solid magenta;
        }
    }
}