.podcast{
    img{
        width: 6.25rem;
        height: 6.25rem;
        border-radius: 5px;
    }
    h2{
        font-size: 1em;
        font-weight: 600;
        margin: 0 15px;
    }

    &-label {
        font: normal normal bold 15px/17px Gotham;
        display: inline-flex;
        align-items: center;
        margin: 0 0 0.688rem;
        &.dot:before {
            content: '';
            display: block;
            width: 0.688rem;
            height: 0.688rem;
            border-radius: 50%;
            background-color: $red-1;
            margin-right: 0.313rem;
        }
    }
}

.player-btn{
    margin-top: 1rem;
    img{
        width: 2rem;
        height: 2rem;
        object-fit: cover;
        margin: 0 1rem;
    }
}